In [3]:
import pymysql

In [11]:
conn = pymysql.connect(host='localhost',          # 내 로컬호스트에서 계정(root)로 market_db에 연결
                       user='root',
                       password='sumin3803',
                       db='market_db',
                       charset='utf8')

In [12]:
cur = conn.cursor()

In [13]:
cur.execute('create table usertable (id char(4), username char(15), email char(20), birthyear int)')

0

In [19]:
cur.execute("insert into usertable value('hong', '홍지윤', 'hong@naver.com', 1996)")
cur.execute("insert into usertable value('kim', '김태연', 'kim@daum.net', 2011)")
cur.execute("insert into usertable value('star', '별사랑', 'star@paran.com', 1990)")
cur.execute("insert into usertable value('yang', '양지은', 'yang@gmail.com', 1993)")   
# 여기서는 value 안의 괄호랑 구분하기 위해 밖의 SQL문 전체에 씌우는 따옴표는 다른 따옴표 사용

1

In [21]:
conn.commit()        # 앞의 입력한 4건의 데이터는 이렇게 커밋을 해주어야 입력이 된다

In [22]:
conn.close()         # 데이터베이스 닫기

## 데이터 입력프로그램

In [24]:
import pymysql

conn, cur = None, None
data1, data2, data3, data4 = '', '', '', ''
sql = ''

In [25]:
conn = pymysql.connect(host='localhost', user='root', password='sumin3803', db='market_db', charset='utf8')
cur = conn.cursor()

In [38]:
while True:
    data1 = input('사용자 ID ==> ')
    if data1 == '':
        break
    data2 = input('사용자 이름 ==> ')
    data3 = input('사용자 이메일 ==> ')
    data4 = input('사용자 출생연도 ==> ')
    sql = "insert into usertable values('" + data1 + "', '" + data2 + "', '" + data3 + "'," + data4 + ")"
    cur.execute(sql)

사용자 ID ==> kwak
사용자 이름 ==> 수민
사용자 이메일 ==> ytnals
사용자 출생연도 ==> 1999
사용자 ID ==> kaa
사용자 이름 ==> kiasda
사용자 이메일 ==> taata
사용자 출생연도 ==> 223
사용자 ID ==>

In [41]:
conn.commit()

## 데이터 출력(조회) 프로그램

In [43]:
import pymysql

conn, cur = None, None
data1, data2, data3, data4 = '', '', '', ''
row = None

In [44]:
conn = pymysql.connect(host='localhost', user='root', password='sumin3803', db='market_db', charset='utf8')
cur = conn.cursor()

In [46]:
cur.execute('select * from usertable')      # 그냥 이것만 치면 제대로 안나옴

6

In [48]:
print('사용자ID     사용자이름     이메일     출생연도')
print('------------------------------------------------')

while True:
    row = cur.fetchone()    # 결과를 한행씩 출력
    if row == None:
        break
    data1 = row[0]
    data2 = row[1]
    data3 = row[2]
    data4 = row[3]
    print('{}     {}     {}     {}'.format(data1, data2, data3, data4))

사용자ID     사용자이름     이메일     출생연도
------------------------------------------------
hong     홍지윤     hong@naver.com     1996
kim     김태연     kim@daum.net     2011
star     별사랑     star@paran.com     1990
yang     양지은     yang@gmail.com     1993
kwak     수민     ytnals     1999
kaa     kiasda     taata     223

In [49]:
conn.close()

이외 tkinter 등을 통해 시각화해 GUI로 할 수도 있음